<!-- Left Client Blocks -->
					
<div style="margin: 20px; padding: 20px; background-color: white">
	<h6 style="text-align: center; margin-bottom: 20px"> <span class="glyphicon glyphicon-leaf" style="color: #cc7a00"></span>  My Balances </h6>
	<div style="text-align: left">

		ZAR: <%= number_to_currency(@client.account.zar_balance, unit: '')%>
		<%= link_to "DEPOSIT/WITHDRAW", client_zar_transactions_path(@client.id), class: 'btn' %>
		
		<hr style="border-color: grey; ">

		BTC: <%= @client.account.btc_balance %> <br>
		<%= link_to "BUY/SELL", client_btc_transactions_path(@client.id), class: 'btn' %>
		<hr>
		ETH: <%= @client.account.eth_balance %> <br>
		<%= link_to "BUY/SELL", client_eth_transactions_path(@client.id), class: 'btn' %>
		<hr>
		LTC: <%= @client.account.ltc_balance %> <br>
		<%= link_to "BUY/SELL", client_ltc_transactions_path(@client.id), class: 'btn' %>
	</div>
</div>




<div style="text-align: center; color: #cc7a00">
	<%= link_to "BACK TO DASHBOARD", client_path(@current_client.id), class: 'btn btn-outline' %>
</div>	
<!-- End of Left Client Blocks -->


		