<div class="container" style="margin-top: 150px; padding-bottom: 100px">
	<div class="row">

		<div class="col-xs-4" style="height: 700px; background-color: #d9d9d9">
			
			<div style="margin: 20px; padding: 20px; background-color: white">
				<h6 style="text-align: center; margin-bottom: 20px"> <span class="glyphicon glyphicon-leaf" style="color: #cc7a00"></span>  My Balances </h6>
				<div style="text-align: left">

					ZAR: <%= number_to_currency(@client.account.zar_balance, unit: '')%>
					
					<hr style="border-color: grey; ">

					BTC: <%= number_to_currency(@client.account.btc_balance, unit: '')%> <br>
					<hr>
					ETH: <%= number_to_currency(@client.account.eth_balance, unit: '')%> <br>
					<hr>
					LTC: <%= number_to_currency(@client.account.ltc_balance, unit: '')%> <br>
				</div>
			</div>


			<div style="margin: 20px; padding: 20px; background-color: white;">
				<h6 style="text-align: center; margin-bottom: 20px"> <span class="glyphicon glyphicon-leaf" style="color: #cc7a00"></span>  Exchange Rates </h6>

					BTC/ZAR: <%= @btc_value %> <br>
					<hr>
					ETH/ZAR: <%= @eth_value %> <br>
					<hr>
					LTC/ZAR: <%= @ltc_value %> <br>

			</div>

			<div style="text-align: center; color: #cc7a00">
				<%= link_to "BACK TO DASHBOARD", client_path(@current_client.id), class: 'btn' %>
			</div>	

		</div>	

		<div class="col-xs-8" style="height: 960px; background-color: #cccccc; padding-left: 30px">
			
			<div class="row">
				<div class="col-xs-6" style="margin: 20px; padding: 20px; background-color: white; height: 1000px">
				

					<h4 id="buy_header" style="text-align: center; color: green"> BUYING <span style="color: grey">BITCOIN</span></h4>
					<h4 id="sell_header" style="text-align: center; color: red; display: none"> SELLING <span style="color: grey">BITCOIN</span></h4>
					<hr>
					
					
					<div>
						<label style="text-align: center">
							Transaction Type:
						</label>
						<br>
						
						<div style="text-align: center">
							<button id="buy" class="btn" style="color: green">Buy</button>
							<button id="sell" class="btn" style="color: red">Sell</button>
						</div>	
						<br>

						<div id="buying_btc">
							<label>
								Amount to Spend (Rands):
							</label>
							<input type = "number" id = "cal1" class="form-control" >

							<br>

							<label>
								Amount to Recieve (Bitcoins):
							</label>
							<input type = "text" id = "result" class="form-control">
						</div>

						<div id="selling_btc" style="display: none">
							<label>
								Amount to Recieve (Rands):
							</label>
							<input type = "number" id = "cal2" class="form-control" >

							<br>

							<label>
								Amount to Sell (Bitcoins):
							</label>
							<input type = "text" id = "result2" class="form-control">
						</div>




					</div>
			</div>
			
				<div class="col-xs-4" style="margin-left: 20px; margin-top: 20px;  padding: 20px; height: 400px; background-color: white">

					<h6 style="text-align: center; "> PENDING ORDERS </h6>
					<hr style="margin-bottom: 25px">
				</div>
	
			</div>

		</div>
	</div>
</div>




<script type="text/javascript">
	$(document).ready(function(){

		//Addition
		$("#cal1").keyup(function(){
			var a = $("#cal1").val();
			$("#result").val(+a / +<%= @btc_value %>);
		});
		$("#cal2").keyup(function(){
			var a = $("#cal2").val();
			$("#result2").val(+a / +<%= @btc_value %>);
		});

		$('#buy').click(function(){
			$('#buying_btc').show(); 
			$('#buy_header').show(); 
			$('#selling_btc').hide();
			$('#sell_header').hide(); 
		});

		$('#sell').click(function(){
			$('#buying_btc').hide();
			$('#buy_header').hide(); 
			$('#selling_btc').show();
			$('#sell_header').show();  
		});

		// Reset Values
	 	$("#reset").click(function(){
	       $("#cal1").val("");
	       $("#cal2").val("");
	       $("#result").val("");
		});
	});
</script>



		




					
