<table class="table" ">
	<thead>
		<tr>
			<th><b>TYPE</b></th>
			<th><b>AMOUNT</b></th>
			<th><b>ID</b></th>
			<th><b>CREATED AT<b></b>
		</tr>
	</thead>
	<tbody>
		<% @pending_zar_t.each do |t| %>
			<tr>
				<td style="width: 140px"><%= t.transaction_type %></td>
				<td><%= number_to_currency(t.amount, unit: "R ")  %></td>
				<td style="width: 120px"><%= t.id %></td>
				<td><%= t.created_at.strftime("%Y-%m-%d / %X") %>
			</tr>
		<% end %>
	</tbody>
</table>
		
<label style="margin-top: 30px; margin-right: 10px; display: inline-block;">
	Select Transaction to Cancel (ID):
</label>

<div style="width: 100px; display: inline-block;">
	<%= select_tag :which_transaction, options_for_select(@pending_zar_t.map { |z| z.id }), class: 'form', id: 'zar-transaction-id' %>
</div>

<br>
<button class="btn btn-outline-danger" id="btn-cancel" type="button" style="margin-top: 40px">Cancel Transaction</button>		

