<table class="table" ">
	<thead>
		<tr>
			<th><b>TYPE</b></th>
			<th><b>AMOUNT</b></th>
			<th><b>STATUS</b></th>
			<th><b>CREATED AT</b></th>
		</tr>
	</thead>
	<tbody>
		<% @zar_transactions.each do |t| %>
			<tr>
				<% if t.transaction_type == "Deposit"%>
					<td style="width: 140px; color: green"><%= t.transaction_type %></td>
					<td style="color: green"> + <%= number_to_currency(t.amount, unit: "R ")  %></td>
				<% else %>
					<td style="width: 140px; color: red"><%= t.transaction_type %></td>
					<td style="color: red"> - <%= number_to_currency(t.amount, unit: "R ")  %></td>
				<% end %>

				<% if t.status == "Approved" %>
					<td style="width: 120px; color: green"><%= t.status %></td>
				<% else %>
					<td style="width: 120px"><%= t.status %></td>
				<% end %>

				<td><%= t.created_at.strftime("%Y-%m-%d / %X") %></td>
			</tr>
		<% end %>
		<tr>
			<th><b>Balance: </b></th>
			<th><b><%= number_to_currency(@account.zar_balance, unit: "R ")%></b></th>
			<th></th>
			<th></th>
		</tr>
	</tbody>
</table>
<div style="text-align: center;">
  <%= will_paginate @zar_transactions, renderer: BootstrapPagination::Rails %>
</div>
