<div class="container" style="margin-top: 150px;  height: 5000px; ">
	<div class="row">

		<div class="col-xs-4" style="height: 500px; border: 1px solid grey; ">
			
			<div style="margin: 20px; padding: 20px; background-color: #f2f2f2">
				<h6 style="text-align: center; margin-bottom: 20px"> <span class="glyphicon glyphicon-leaf" style="color: #cc7a00"></span>  My Balances </h6>
				<div style="text-align: left">

					ZAR: <%= number_to_currency(@client.account.zar_balance, unit: '')%>
					
					<hr style="border-color: grey; ">

					BTC: <%= number_to_currency(@client.account.btc_balance, unit: '')%> <br>
					<hr>
					ETH: <%= number_to_currency(@client.account.eth_balance, unit: '')%> <br>
					<hr>
					LTC: <%= number_to_currency(@client.account.ltc_balance, unit: '')%> <br>
				</div>
			</div>


			<div style="margin: 20px; padding: 20px; background-color: #f2f2f2">
				<h6 style="text-align: center; margin-bottom: 20px"> <span class="glyphicon glyphicon-leaf" style="color: #cc7a00"></span>  Exchange Rates </h6>

					BTC/ZAR: <%= @btc_value %> <br>
					<hr>
					ETH/ZAR: <%= @eth_value %> <br>
					<hr>
					LTC/ZAR: <%= @ltc_value %> <br>

			</div>




		</div>	

		<div class="col-xs-8" style="height: 500px; border: 1px solid grey;">

			

			<div class="col-xs-6" style="margin-top: 20px; padding: 20px; background-color: #f2f2f2; height: 400px">

				<h6 style="text-align: center; margin-bottom: 30px"> DEPOSIT/WITHDRAW </h6>
				
				<div id="transaction-form">
					
					<label>
						Transaction Type:
						<%= select_tag(:transaction_type, options_for_select(Transaction::TRANSACTION_TYPES), class: 'form-control', id: 'select-transaction-type')%>
					</label>
					<br>
					<label style="margin-top: 30px">
						Amount:
						<%= number_field_tag :amount, 1000, min: '0', step: '10', id: 'input-amount', class: 'form-control'%>
					</label>
					<button class="btn btn-primary" id="btn-save" type="button"> Proceed with Deposit </button>
				
				</div>
				<div class="notification">
				</div>	

			</div>


			<div class="col-xs-5" style="margin-top: 20px; margin-left: 40px; padding: 20px; height: 400px; background-color: #f2f2f2">

				<h6 style="text-align: center"> Deposit Instructions </h6>
				<hr>
				<p>
					Give me yo money douu
				</p>
				<h6 style="text-align: center; margin-top: 50px"> Withdrawal Instructions </h6>
				<hr>
				<p>
					Don't take yo money douu
				</p>

			</div>

			

	</div>
</div>

	
<%= javascript_include_tag 'zar_transactions/New.js' %>
  <script>
    
		$(document).ready(function() {
			New.init();
		});


  </script>



					
