<table class="table">
  <thead>
    <tr>
      <th><b>TYPE</b></th>
      <th><b>BTC</b></th>
      <th><b>PRICE</b></th>
      <th><b>ZAR</B></th>
      <th><b>STATUS</b></th>
      <th><b>ID</b></th>
      <th><b>CREATED AT</b></th>
    </tr>
  </thead>
  <tbody>
    <% @btc_transactions.each do |t| %>
      <tr>
    	<% if t.transaction_type == "BUY" %>
	        <td style="color: blue"><%= t.transaction_type %></td>
	    <% else %>
	    	<td style="color: red"><%= t.transaction_type %></td>
	    <% end %>

		<% if t.transaction_type == 'BUY' %>
			<td style="color: blue"> + <%= t.btcBuyAmount %></td>
		<% else %>
			<td style="color: red"> - <%= t.btcSellAmount %></td>
		<% end %>

        <td><%= t.value %></td>

        
		<% if t.transaction_type == 'BUY' %>
			<td style="color: red"> - <%= number_to_currency(t.zarSpendAmount, unit: "R ")%></td>
		<% else %>
			<td style="color: blue"> + <%= number_to_currency(t.zarRecieveAmount, unit: "R ")%></td>
		<% end %>

		<% if t.status =="Approved" %>
        	<td style="color: green"><%= t.status %></td>
        <% else %>
        	<td><%= t.status %></td>
        <% end %>
        
        <td><%= t.id%></td>

        <td><%= t.created_at.strftime("%Y-%m-%d / %X") %></td>
      </tr>
    <% end %>
    <tr>
      <th><b>Balance:</b></th>
      <th><b><%= @account.btc_balance %> BTC</b></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </tbody>
</table>
<div style="text-align: center">
  <%= will_paginate @btc_transactions, renderer: BootstrapPagination::Rails %>
</div>
