<div class="container" style="margin-top: 150px;  height: 5000px; ">
	<div class="row">

		<div class="col-xs-4" style="height: 500px; border: 1px solid grey; background-color: #d9d9d9">
			
			<div style="margin: 20px; padding: 20px; background-color: white">
				<h6 style="text-align: center; margin-bottom: 20px"> <span class="glyphicon glyphicon-leaf" style="color: #cc7a00"></span>  My Balances </h6>
				<div style="text-align: left">

					ZAR: <%= number_to_currency(@client.account.zar_balance, unit: '')%>
					

					<%= link_to "DEPOSIT/WITHDRAW", client_zar_transactions_path(@client.id) %>



					<hr style="border-color: grey; margin-top: -0.25px">

					BTC: <%= number_to_currency(@client.account.btc_balance, unit: '')%> <br>
					<hr>
					ETH: <%= number_to_currency(@client.account.eth_balance, unit: '')%> <br>
					<hr>
					LTC: <%= number_to_currency(@client.account.ltc_balance, unit: '')%> <br>
				</div>
			</div>


			<div style="margin: 20px; padding: 20px; background-color: white">
				<h6 style="text-align: center; margin-bottom: 20px"> <span class="glyphicon glyphicon-leaf" style="color: #cc7a00"></span>  Exchange Rates </h6>

					BTC/ZAR: <%= @btc_value %> <br>
					<hr>
					ETH/ZAR: <%= @eth_value %> <br>
					<hr>
					LTC/ZAR: <%= @ltc_value %> <br>

			</div>




		</div>	

		<div class="col-xs-8" style="height: 500px; border: 1px solid grey; background-color: white">

			<div class="btc_chart" style="padding-top: 30px;">
				<h3 class="heading"> <%= @bitcoin%> </h3> 

				<span style="text-align: right;">
				<button class='btn btn-primary' href=#  style="margin-bottom: 8px; text-align: right"> 
					<h5>BUY/SELL </h5>
				</button>
				</span>

				<%= area_chart @bitcoin_chart, curve: false, height: '300px', width: '740px', min: '40000', colors: ['#cc7a00','#cc7a00' ], backgroundColor: '#cc7a00' %>
			</div>

			<div class="eth_chart" style="padding-top: 30px; display: none ">
				<h3 class="heading"> <%= @ethereum%> </h3>
				<button class='btn btn-primary' href=#  style="margin-bottom: 8px; text-align: right"> 
					<h5>BUY/SELL </h5>
				</button>
				<%= area_chart @ethereum_chart, curve: false, height: '300px', width: '740px',min: '2000', colors: ['#cc7a00'] %>
			</div>

			<div class="ltc_chart" style="padding-top: 30px; display: none">
				<h3 class="heading"> <%= @litecoin%> </h3>
				<button class='btn btn-primary' href=#  style="margin-bottom: 8px; text-align: right">
					<h5>BUY/SELL </h5>
				</button>
				<%= area_chart @litecoin_chart, curve: false, height: '300px', width: '740px',min: '300', colors: ['#cc7a00'], backgroundColor: '#555' %>
			</div>


			<div style="text-align: center; margin-top: 20px" >	
				<button id="btc" class="btn">BTC/ZAR</button>
				<button id="eth" class="btn">ETH/ZAR</button>
				<button id="ltc" class="btn">LTC/ZAR</button>
			</div>
					
			<%= javascript_include_tag 'clients/Show.js' %>

			
		</div>


	</div>
</div>
	


					