<!DOCTYPE html>
<html>
  <head>
    <title>GalxyBit</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Refresh page every 10min -->
	<meta http-equiv="refresh" content="1800" >
	<!-- Material Design fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<!-- Bootstrap Material Design -->
	<link rel="stylesheet" href="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.min.css">
	<style type="text/css">
		.form-control:focus{box-shadow: none; -webkit-box-shadow: none; } 
		.is-focused {color: blue;}
		.has-error 
		

	</style>
  </head>

  



  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container" style=" z-index: 5">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" >
				<span class="icon-bar color"></span>
				<span class="icon-bar color"></span>
				<span class="icon-bar color"></span> 
			</button>
			<a class="navbar-brand" href="/" style="margin-top: 10px; margin-bottom: -10px"><i style="font-family: arial; ">G</i>ALXY<i style="color: #cc7a00">BIT</i></a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">	
      		<ul class="nav navbar-nav navbar-right" style="text-align: center">
	      		<li><%= link_to "About", about_path %></li>
	      		<li><%= link_to "Contact", "#" %></li>
	      		<li><%= link_to "Settings", '#' %></li>

	   	        <% if logged_in? %>
		         	<li class="dropdown" style="text-align: center" >
			            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		              		<%= @current_client.first_name %> 
			            </a>
			            <ul class="dropdown-menu" style="text-align: left">
							<% if @current_client.admin? %>
								<li><%= link_to "Admin Dashboard", admin_index_path %></li>
							<% else %>
							<% end %>
							<li><%= link_to "Dashboard", current_client %></li>
							<li class="divider"></li>
							<li>
			              		<%= link_to "Log out", logout_path, method: :delete %>
			              	</li>
			            </ul>
		          	</li>
		        <% else %>
		        	<li><%= link_to "Log in", login_path %></li>
		        <% end %>

	      	</ul>
	    </div>
 	</div>
</nav>

	

	
  	<%= yield %>
  	

  </body>
</html>

	